/* BODY */

body{
    background-color: #cccfca;
    font-family: Arial, Helvetica, sans-serif;
    }

/* SIDEBAR I VENSTRE SIDE STARTER */
.sidenav_venstre {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 190px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #7B8477;
    /* background-color: #995C7A; */

    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border: grey 0.5px solid;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* The navigation menu links */
.sidenav_venstre a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
    color: #111;
    display: block;
}

.material-symbols-outlined {
 font-size: 18px;
 padding-right: 10px;
 color: #111;
}

/* When you mouse over the navigation links, change their color */
.sidenav_venstre a:hover {
    color: #111;
}

/* Style page content */
.main {
    margin-left: 160px;
    padding: 0px 10px;
}
/* SIDEBAR I VENSTRE SIDE SLUTTER*/



/* iNDHOLD I VENSTRE SIDEBAR */
/* knap til pip i venstre side - modal box åben */
#writePipButton {
    margin-top: 30px;
    margin-left: 15px;
    padding: 7px 12px;
    background-color: #9DBB8F;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* logo i venstre sidebar*/
#logo {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
    margin-left: 15px;
}
/* iNDHOLD I VENSTRE SIDEBAR SLUT*/


/* PIP FEED STARTER - MIDSTEN AF SIDEN */
.container{
    display:block;
    margin-left: 190px;
    margin-right: auto;
    width: 50%;
    padding: 20px;
}

.container h1{
    margin: 10px;
    margin-bottom: 40px;
}

/* Boks til hvert pip */
.pip-boks{
    border: 1px solid #111;
    padding: 20px;
    margin: 10px 0 20px 0;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

/* Billede af bruger - midten af siden */
#billede_avatar{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
/* Bruger box indeholder = person + avatar  */
.bruger{
    display: flex;
}

/* brugernavn på personen */
#person{
    margin-left: 10px;
}

.tid{
    text-align: right;
}

/* PIP FEED SLUTTER - MIDTEN AF SIDEN */






/* SIDEBAR I HØJRE SIDE STARTER */
.sidenav_hoejre {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 400px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    right: 0;
    background-color: #7B8477;
    /* background-color: #995C7A; */
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
    border: grey 0.5px solid;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  
}
/* SIDEBAR I HØJRE SIDE SLUTTER */



/* INDHOLD I HØJRE SIDEBAR */
/* Søgefunktion i højre side */
#search {
    margin-left: 25px;
    margin-bottom: 12px;
    height: 20px;
    width: 180px;
    border: 2px solid #fff;
    background-color: #fff;
    border-radius: 15px;
    padding: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);

}

/* Populære pips i højre side */
.populaere_pips {
    width: 260px;
    margin-left: 25px;
    padding-left: 40px;
    text-decoration: none;
    font-size: 10px;
    color: #111;
    background-color:#A2A89F;
    /* background-color: #B4879D;
    border: 2px solid #BB93A6; */
    border-radius: 15px;
    padding: 5px;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* Hvert afsnit i højresidebar - indholder kategori, symbol, tags, views */
.tranding{
    transition-duration: 0,4s;
    
}

/* Hover over afsnit i højre sidebar */
.tranding:hover {
    width: 103%;
    background-color: #d2d0d067;
   
}

/* katagori + symbol ligger i denne */
.big_tags{
    display: flex;
}

/* Lille overskrift i højre sidebar */
.kategori{
    color: black;
    font-size: 11px;

}

/* Prikker i højre siebar */
.symbol{
    padding-top: 7px;
    
}

/* Views i højre sidebar - sete pips */
.views{
    color: black;
}

/* Prikker i højre siebar */
#symbol1{
    color: black;
    margin-left:100px;
}

/* Prikker i højre siebar */
#symbol2{
    color: black;
    margin-left:92px;
}

/* Prikker i højre siebar */
#symbol3{
    color: black;
    margin-left:155px;
}

/* Tags i højre siebar */
.tags {
    text-decoration: none;
    color: black;
}



/* Folk du vil synes om (følg) i højre side */
.foelg {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 11px;
    color: #111;
    padding-left: 40px;
}

/* Billede af person i højre sidebar */
#billede_person {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 40px;
}

/* Navn i højre sidebar */
#navn {
    text-decoration: none;
    font-size: 12px;
    color: #111;
}

/* Brugernavn i højre sidebar */
#brugernavn {
    text-decoration: none;
    font-size: 12px;
    color: #111;
}

/* Følg knappen i højre sidebar*/
#foelg_knap {
    background-color: #9DBB8F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 25px;
    border: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

.column {
    float: left;
    width: 26.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
/* INDHOLD I HØJRE SIDEBAR */






/* MODAL BOX START */
/* input brugernavn - modal box */
#indtast_brugernavn {
    margin-bottom: 10px;
    border-radius: 7px;
    border: none;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* input pip - modal box */
#indtast_pip {
    width: 500px;
    height: 100px;
    border-radius: 7px;
    padding: 5px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* knap pip - modal box */
#button_pip {
    background-color: #9DBB8F;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 5px 12px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -25px;
    margin-right: -15px;
  }
  
  .close:hover,
  .close:focus {
    color: #9DBB8F;
    text-decoration: none;
    cursor: pointer;
  }

  /* Indhold i modal box */
#note-form{
    /* padding-left: 550px; */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: black 2px solid;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
        padding-left: 30px;
        background-color:#A2A89F;
        -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
        box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
}

/* Charactercount så tallene står ved siden af hinanden */
.characterCount{
    display: flex;
}

/* MODAL BOX SLUT */